{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "@microsoft/fluentui-jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "@microsoft/fluentui-jsx-a11y/no-empty-buttons": "error",
    "@microsoft/fluentui-jsx-a11y/text-area-missing-label-v9": "error",
    "@microsoft/fluentui-jsx-a11y/image-button-missing-aria-v9": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}